@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(Images/wallpaper.jpg);
  position: relative;
  width: 100%;
  background: url(Images/wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/wallpaper.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/wallpaper.jpg', sizingMethod='scale')";
  background-color: rgba(31, 32, 27, 0.7);
  background-blend-mode: multiply;
  */
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.card {
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}


.card-icon {
  font-size: 28px;
  background: lightseagreen;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: lightseagreen;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info {
    display: inline-block;
    position: relative;
  }

  .card {
    width: 100%;
    margin: 10px 0;
    bottom: 10px;
  }
}

:root {
  --primary-color: rgba(1, 79, 248, 0.6);
  --secondary-color: #0088a9;
  --overlay-color: rgba(0, 0, 0, 0.7)
}


h1,
h2,
h3 {
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

.conatainer {
  display: block;
  margin: auto;
  max-width: 960px;
}

.showcase {
  height: 100vh;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('https://res.cloudinary.com/dnuoffzlr/image/upload/v1601075572/entertainment1.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.showcase-content h1 {
  font-size: 2.5rem;
}

.showcase-content p {
  font-size: 1.2rem;
}

.btn {
  background-color: var(--secondary-color);
  color: #fff;
  text-align: center;
  padding: 0.7rem 1.2rem;
  display: inline-block;
  margin-top: 1rem;
}

/* menu styling */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-wrap .toggler {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.menu-wrap .hamburger {
  position: absolute;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  background-color: var(--secondary-color);
}

.menu-wrap .hamburger>div {
  transition: all 0.4s ease-in;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 10px;
}

.menu-wrap .hamburger>div::after {
  top: -10px;
}

.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div::before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  transform: rotate(90deg);
  top: 0;
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  visibility: hidden;
}


/* overlay */

.menu>div {
  background-color: var(--overlay-color);
  width: 200vw;
  height: 200vw;
  border-radius: 50%;
  display: flex;
  flex: none;
  transform: scale(0);
  transition: all 0.4s ease-in;
  justify-content: center;
  align-items: center;
}

.menu>div>div {
  opacity: 0;
  text-align: center;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease-in 0.4s;
}

.menu>div>div li {
  list-style: none;
  padding: 1rem;
}

.menu>div>div li a {
  color: #fff;
  transition: color 0.3s ease-in;
  font-size: 1.3rem;
}

.menu>div>div li a:hover {
  color: var(--secondary-color);
}

.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
}

a:link {
  color: white;
}


.link {
  color: white;
}

.header1 {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 10px;
  font-size: 38px;
}