
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');





*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}



body {
    background-image: url(Images/B-wallpaper.jpg)
    
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



  *{
      box-sizing: border-box;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-weight: lighter;
  }
  

  
  .header1 {
  color: white ;
  text-align: center;
  font-size: 50px;
}
  
  .subheader1 {
  color:white;
  text-align: center
  }
  
  .small{
      color: white;
  }
  
  
  a {
      color: white;
     text-decoration: none;
     
  }   
  .link {
      display: inline-block;
      padding: .5em;
  }
  
  .mainnav{
      text-align: center;
      font-size: 25px;
      font-weight: lighter;
      border: 1px solid lightgrey;
  }
  
  a:hover{
      color: greenyellow; 
  }
  
  a:active {
      color: red;
  }
  
  .contact-methods li{
      text-decoration:none;
      transition: transform .5s;
      list-style-type: none;
      margin: 425px,50px,425px,50px;
    }
    
    .contact-methods li:hover {
       transform: translateY(-20px);
    }
    
    .contact-methods li:hover .contact-type {
      opacity: 1;
    }
    
    .contact-type {
      display:block;
    }
    
    .contact-methods .contact-type {
        color: darkorange;
        font-size: .9em;
        font-weight: bold;
        font-family: sans-serif;
        text-align: center;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity .5s;
    }
    
    .contact-methods img {
      width:100px;
      height:100px;
      object-fit:cover;
      object-position:top;
      display: block;
      margin: 0 auto;
    }
    
  
    .header1 {
      color: white ;
      text-align: center}
      
      .subheader1 {
      color:white;
      text-align: center
      }
      
      .small{
          color: white;
          padding: 10px;
      }
      
      
      * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
      
      header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 30px 10%;
          background-color: rgba(31, 32, 27, 0.65); 
      }
      
      
      
      .nav__links a,
      .cta,
      .overlay__content a {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          color: #edf0f1;
          text-decoration: none;
          font-size: 19px;
      }
      
      .nav__links {
          list-style: none;
          display: flex;
        }
        
        .nav__links li {
          padding: 0px 20px;
        }
        
        .nav__links li a {
          transition: color 0.3s ease 0s;
        }
        
        .nav__links li a:hover {
          color: #0088a9;
        }
        
        .cta {
          padding: 9px 25px;
          background-color: rgba(0, 136, 169, 1);
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: background-color 0.3s ease 0s;
        }
        
        .cta:hover {
          background-color: rgba(0, 136, 169, 0.8);
        }
        
        
        .menu {
          display: none;
        }
        
        .overlay {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          background-color: #24252a;
          overflow-x: hidden;
          transition: width 0.5s ease 0s;
        }
        
        .overlay--active {
          width: 100%;
        }
        
        .overlay__content {
          display: flex;
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .overlay a {
          padding: 15px;
          font-size: 36px;
          display: block;
          transition: color 0.3s ease 0s;
        }
        
        .overlay a:hover,
        .overlay a:focus {
          color: #0088a9;
        }
        .overlay .close {
          position: absolute;
          top: 20px;
          right: 45px;
          font-size: 60px;
          color: #edf0f1;
      }
      
      @media screen and (max-height: 450px) {
          .overlay a {
      font-size: 20px;
          }
          .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
          }
      }
      
      @media only screen and (max-width: 800px) {
          .nav__links,
          .cta {
      display: none;
          }
          .menu {
      display: initial;
          }
      }
      
      
      
      .about-me{
          color: white ;
          text-align: center;
          font-size: 30px;
      }
      
      .abme{
          color: white;
          text-align: center;
          font-size: 25px;
      }
  
  
      header .navigation a{
          color:white;
          text-decoration: none;
          font-weight: 500;
          letter-spacing: 1px;
          padding: 2px 15px;
          border-radius: 20px;
          transition: 0.3s;
          transition-property: background;
        }
        
        header .navigation a:not(:last-child){
          margin-right: 30px;
        }
        
        header .navigation a:hover{
          background: #fff;
        }
  
  
        header .logo{
          position: relative;
          color: white;
          font-size: 30px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 800;
          letter-spacing: 1px;
        }

          .hours {
            display: flex;
            justify-content: space-between;
          }
          
          .hours > div:first-child {
            padding: 20px 0 0 30px;
          }
          
          .hours > div:last-child {
            padding: 20px 30px 0 0;
          }
          
          h1 {
            margin: 30px;
            font-size: 1.2em;
          }
          
          hr {
            margin: 5px 30px 25px;
          }
          
          .hours-box {
            min-width: 25em;
            background:blacks;
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
            padding: 1em;
          }
          
          ul:first-child li:first-child {
            font-weight: bold;
            color:white;
          }
          
          ul:last-child li:first-child {
            cursor: pointer;
          }
          
          ul {
            margin: 0;
            padding: 15px;
            list-style: none;
          }
          
          ul li {
            color:white;
          }

          .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }


          :root {
            --primary-color: rgba(1, 79, 248, 0.6);
            --secondary-color: #0088a9;
            --overlay-color: rgba(0, 0, 0, 0.7)
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.2;
        }
        
        h1,
        h2,
        h3 {
            padding: 1rem 0;
        }
        
        a {
            text-decoration: none;
        }
        
        .conatainer {
            display: block;
            margin: auto;
            max-width: 960px;
        }
        
        .showcase {
            height: 100vh;
            background-color: var(--primary-color);
            color: #fff;
            text-align: center;
            position: relative;
        }
        
        .showcase:before {
            content: '';
            background: url('https://res.cloudinary.com/dnuoffzlr/image/upload/v1601075572/entertainment1.jpg') no-repeat center center/cover;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
        
        .showcase-content {
            display: flex;
            flex-direction: column;
            height: 100vh;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        
        .showcase-content h1 {
            font-size: 2.5rem;
        }
        
        .showcase-content p {
            font-size: 1.2rem;
        }
        
        .btn {
            background-color: var(--secondary-color);
            color: #fff;
            text-align: center;
            padding: 0.7rem 1.2rem;
            display: inline-block;
            margin-top: 1rem;
        }
        
        /* menu styling */
        .menu-wrap {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }
        
        .menu-wrap .toggler {
            position: absolute;
            width: 50px;
            height: 50px;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 2;
        }
        
        .menu-wrap .hamburger {
            position: absolute;
            display: flex;
            width: 60px;
            height: 60px;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            z-index: 1;
            background-color: var(--secondary-color);
        }
        
        .menu-wrap .hamburger>div {
            transition: all 0.4s ease-in;
            position: relative;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
        
        .menu-wrap .hamburger>div::before,
        .menu-wrap .hamburger>div::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #fff;
            top: 10px;
        }
        
        .menu-wrap .hamburger>div::after {
            top: -10px;
        }
        
        .menu-wrap .toggler:checked+.hamburger>div {
            transform: rotate(135deg);
        }
        
        .menu-wrap .toggler:checked+.hamburger>div::before,
        .menu-wrap .toggler:checked+.hamburger>div:after {
            transform: rotate(90deg);
            top: 0;
        }
        
        .menu-wrap .toggler:checked:hover+.hamburger>div {
            transform: rotate(225deg);
        }
        
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            visibility: hidden;
        }
        
        
        /* overlay */
        
        .menu>div {
            background-color: var(--overlay-color);
            width: 200vw;
            height: 200vw;
            border-radius: 50%;
            display: flex;
            flex: none;
            transform: scale(0);
            transition: all 0.4s ease-in;
            justify-content: center;
            align-items: center;
        }
        
        .menu>div>div {
            opacity: 0;
            text-align: center;
            height: 100vh;
            width: 90vw;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.4s ease-in 0.4s;
        }
        
        .menu>div>div li {
            list-style: none;
            padding: 1rem;
        }
        
        .menu>div>div li a {
            color: #fff;
            transition: color 0.3s ease-in;
            font-size: 1.3rem;
        }
        
        .menu>div>div li a:hover {
            color: var(--secondary-color);
        }
        
        .menu-wrap .toggler:checked~.menu {
            visibility: visible;
        }
        
        .menu-wrap .toggler:checked~.menu>div {
            transform: scale(1);
        }
        
        .menu-wrap .toggler:checked~.menu>div>div {
            opacity: 1;
        }