body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: white;
}
content {
  background: url('Images/wallpaper.jpg') center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 32, 27, 0.65);
  background-blend-mode: multiply
}
h1 {
  letter-spacing: .2rem;
  text-transform: uppercase;
  background: black;
  padding: 15px 20px;
  margin: 0;
}