@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
  background: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(31, 32, 27, 0.65);
  background-blend-mode: multiply
}
 html{
  height: 100%;
 }


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: white;
}

@media only screen and (min-width: 100px) {
	header, header ul{
    position: relative;
    justify-content: center;
    align-items: center;
		display: column;
	}
}

@media only screen and (min-width: 768px) {
	header, header ul{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
		display: column;
	}
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 37px 1px;
  z-index: 10000;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
  width: 60%;
  left: 75px;
}
header.sticky{
  padding: 5px 100px;
  color: #fff;
}
header.sticky .logo,
header.sticky ul li a{
color: grey;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative;
  list-style: none;

}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  transition: 0.6s;
}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(Images/wallpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(31, 32, 27, 0.65);
  background-blend-mode: multiply
}


footer {
  background-color: black;
  font-family: "Lato", sans-serif;
  padding: 85px 0 100px 0;
}

.footer-inner {
  display: grid;
  grid-template-columns: minmax(18%, auto) 12% minmax(17%, auto) 11% minmax(auto, 25%) minmax(109px, auto);
  column-gap: 24px;
  row-gap: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  max-width: 1170px;
  position: relative;
}

.footer-item:nth-of-type(7) {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.footer-button {
  color: white;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  transition: 1s;
  transition-delay: .2s;
  padding: 14px;
}

.footer-button:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 13px;
  background-color: white;
  height: 1px;
  width: 86px;
  transition: .6s;
}

.footer-button:hover {
  color: black;
  background-color: white;
}

.footer-button:hover:after {
  width: 112px;
  right: 0px;
}

h1 {
  font-weight: 900;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 10px;
}

h2 {
  font-weight: 300;
  line-height: 1.8;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
  padding: 15px 0 0 0;
}

.color {
  color: white;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-size: 13px;
  color: white;
  margin: 0;
  padding-bottom: 9px;
  letter-spacing: 0.03em;
}

ul {
  line-height: 1.8;
  list-style-type: none;
  padding: 0;
}

li {
  font-weight: 300;
  font-size: 13px;
  color: #d1d1d1;
  letter-spacing: 0.03em;
}

p {
  font-weight: 300;
  font-size: 13px;
  padding: 0;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: #d1d1d1;
}

a:hover {
  color: white;
}

.desktop {
  display: auto;
}

.mobile {
  display: none;
}

.footer-inner:after {
  content: "© 2020 Raheem Shah  . All Rights Reserved.";
  font-weight: 300;
  letter-spacing: 0.03em;
  font-size: 13px;
  color: #d1d1d1;
  position: absolute;
  top: 260px;
}

@media (max-width: 1024px) {

footer {
  padding: 50px 0 60px 0 !important;
}

.footer-inner {
  grid-template-areas:
      "logo logo"
      "explore visit"
      "business follow"
      "legal legal"
      "next next";
  grid-template-columns: minmax(15%, auto) minmax(15%, auto);
  row-gap: 10%;
  border-bottom: 1px solid #333;
  padding-bottom: 238px;
  margin-bottom: 50px;
}

.footer-item:nth-of-type(1) {
  grid-area: logo;
  border-bottom: 1px solid #333;
  padding-bottom: 33px;
}

.footer-item:nth-of-type(2) {
  grid-area: explore;
}

.footer-item:nth-of-type(3) {
  grid-area: visit;
}

.footer-item:nth-of-type(4) {
  grid-area: follow;
}

.footer-item:nth-of-type(5){
  grid-area: legal;
}

.footer-item:nth-of-type(6) {
  grid-area: next;
  margin: 18px 0 0 -13px;
}

.footer-item:nth-of-type(7) {
  grid-area: business;
}

.desktop {
  display: none;
}

.mobile {
  display: block !important;
}

.footer-inner:after {
  top: 745px;
}
}

.content {
  position: relative;
  width: 100%;
  display: inline-block;

}


















.bluetext {
  color: white;
}

.uppercase {
  text-transform: uppercase;
  color: rgb(1, 110, 165);
}

.jumbotron {
  width: 100%;
  padding-top:40px;
  padding-bottom: 40px;
}

.jumbotron .title {
  font-size: 2em;
}

.jumbotron .container {
  width:80%;
  display: block;
  margin: 0 auto;
}

.jumbotron .bluetext {
  display: block;
}

.jumbotron .subtitle {
    margin-top:10px;
    margin-bottom:10px;
}

.jumbotron.mainContent {
  position: relative;
  width: 100%;
  background: url(Images/wallpaper1.jpg) no-repeat center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/wallpaper.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/wallpaper.jpg', sizingMethod='scale')";
  background-color: rgba(31, 32, 27, 0.65);
  background-blend-mode: multiply;
}

.jumbotron.large {
  height: auto;
  padding-top:200px;
  padding-bottom: 200px;
}

a.button {
  padding:10px;
  margin-top:10px;
  margin-bottom: 10px;
  border-radius:5px;
  color: #fff;
  display:inline-block;
}

a.button.primary { background-color: rgb(1, 110, 165) }

a.button.primary:hover {
  background-color:#1E586A;
}


/* #Media Queries
================================================== */

  /* Large Desktop */
  @media only screen and (min-width: 1441px) {}

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) and (max-width: 1440px) {}

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {}

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    ..jumbotron .container { max-width: 379px; }

    .jumbotron.large {
      height: 100vh;
    }
    .jumbotron .title {
      font-size: 3em;
    }

  }
