// Reset
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

label,
input,
textarea {
  background: none;
  outline: none;
  border: none;
  resize: none;
}

// Variables
$color-pri: #f2fdff;
$color-priAcc: #49516f;
$color-sec: #f36262;
$color-secAcc: #282d3e;
$transition500: all 0.5s ease-in-out;

// Mixin
@mixin center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.container {
  height: 100vh;
  color: $color-pri;
  background: $color-priAcc;
  @include center(column);

  &__box {
    height: 540px;
    width: 960px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px $color-secAcc;
    position: relative;
  }

  &__title {
    height: 40px;
    text-align: center;
    margin: 20px;
    letter-spacing: 8px;
  }
}

.info,
.form {
  position: absolute;
  height: calc(100%-80px);
  padding: 0 40px;
  width: 100%;
  transition: $transition500;

  &__box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 40px;
  }

  &__send {
    height: 50px;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    padding-top: 14px;
    letter-spacing: 2px;
    font-weight: bold;
    transition: $transition500;
    cursor: pointer;
    border-bottom: 1px solid $color-pri;

    &:hover {
      color: $color-pri;
      background: $color-secAcc;
    }
  }
}

.info {
  &--hide {
    opacity: 0;
    pointer-events: none;
  }

  &__text {
    margin: 40px auto;
    height: 40px;
    letter-spacing: 2px;
    text-align: center;
  }

  &__content {
    position: relative;
    @include center(column);
    width: 100%;
    height: 200px;
    border-right: 1px solid $color-secAcc;
    cursor: pointer;

    &:nth-child(3) {
      border: none;
    }

    &:hover {
      .info__icon {
        padding-bottom: 120px;
        color: $color-sec;
      }

      .info__details {
        opacity: 1;
      }

      .social {
        opacity: 1;
        pointer-events: all;
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        .info__icon {
          padding-bottom: 0;
        }
      }
    }
  }

  &__icon {
    font-size: 24px;
    transition: $transition500;
  }

  &__details {
    position: absolute;
    transition: $transition500;
    opacity: 0;
  }
}

.form {
  opacity: 0;
  pointer-events: none;
  text-align: center;

  &--show {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    padding: 0 10px;

    &:nth-child(4) {
      margin-top: 30px;
      width: 100%;
      grid-column: 1/4;
    }
  }

  &__label {
    letter-spacing: 5px;
    font-size: 12px;
    transition: $transition500;

    &--valid {
      color: $color-sec;
    }
  }

  &__input {
    padding: 0 10px;
    height: 50px;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 2px;
    color: $color-pri;
    border-bottom: 2px solid $color-pri;

    &--text {
      height: 150px;
    }
  }
}

.social {
  position: absolute;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  opacity: 0;
  transition: $transition500;

  &__icon {
    color: $color-pri;
    padding: 13px;
    font-size: 24px;
    transform: rotate(-45deg);
    transition: $transition500;

    &:hover {
      color: $color-sec;
    }
  }
}

.youtube {
  position: absolute;
  color: $color-pri;
  top: 50px;
}